* {
    margin: 0%;
    background-color: #e2e9f4;
}

body {
    background-color: #e2e9f4;
}

@font-face {
    font-family: oatmeal-pro-bold;
    src: url(../public/OatmealProTRIAL-Bold.otf);
}

@font-face {
    font-family: oatmeal-pro-regular;
    src: url(../public/OatmealProTRIAL-Regular.otf);
}

@font-face {
    font-family: oatmeal-pro-thin;
    src: url(../public/OatmealProTRIAL-Light.otf);
}

.canvas {
    height: 100vh;
    width: 100%;
}